{
    "todos": [
        {"id": 1, "title": "Learn Javascript Basics", "completed": true},
        {"id": 2, "title": "Learn Angular", "completed": true},
        {"id": 3, "title": "Learn Webpack", "completed": false},
        {"id": 4, "title": "Learn ES6+ features", "completed": false}
    ]
}
